.anatomy.aging {
  page-break-inside: avoid;
  background-color: #ffffcc;
  padding-top: 0 !important;
}
.anatomy.aging::before {
  padding-top: 0.53in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  page-break-after: avoid;
  background-color: white;
  content: "";
  display: block;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.05in;
}
.anatomy.aging::before {
  background-image: url("ccap-anatomy/aging.svg");
}
.anatomy.aging > header > [data-type='title'] {
  display: none !important;
}
.anatomy.career {
  page-break-inside: avoid;
  background-color: #ffffcc;
  padding-top: 0 !important;
}
.anatomy.career::before {
  padding-top: 0.51in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  page-break-after: avoid;
  background-color: white;
  content: "";
  display: block;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.05in;
}
.anatomy.career::before {
  background-image: url("ccap-anatomy/career.svg");
}
.anatomy.career > header > [data-type='title'] {
  display: none !important;
}
.anatomy.diseases {
  page-break-inside: avoid;
  background-color: #ffffcc;
  padding-top: 0 !important;
}
.anatomy.diseases::before {
  padding-top: 0.59in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  page-break-after: avoid;
  background-color: white;
  content: "";
  display: block;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.05in;
}
.anatomy.diseases::before {
  background-image: url("ccap-anatomy/diseases.svg");
}
.anatomy.diseases > header > [data-type='title'] {
  display: none !important;
}
.anatomy.disorders {
  page-break-inside: avoid;
  background-color: #ffffcc;
  padding-top: 0 !important;
}
.anatomy.disorders::before {
  padding-top: 0.59in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  page-break-after: avoid;
  background-color: white;
  content: "";
  display: block;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.05in;
}
.anatomy.disorders::before {
  background-image: url("ccap-anatomy/disorders.svg");
}
.anatomy.disorders > header > [data-type='title'] {
  display: none !important;
}
.anatomy.everyday {
  page-break-inside: avoid;
  background-color: #ffffcc;
  padding-top: 0 !important;
}
.anatomy.everyday::before {
  padding-top: 0.44in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  page-break-after: avoid;
  background-color: white;
  content: "";
  display: block;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.05in;
}
.anatomy.everyday::before {
  background-image: url("ccap-anatomy/everyday.svg");
}
.anatomy.everyday > header > [data-type='title'] {
  display: none !important;
}
.anatomy.homeostatic {
  page-break-inside: avoid;
  background-color: #ffffcc;
  padding-top: 0 !important;
}
.anatomy.homeostatic::before {
  padding-top: 0.57in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  page-break-after: avoid;
  background-color: white;
  content: "";
  display: block;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.05in;
}
.anatomy.homeostatic::before {
  background-image: url("ccap-anatomy/homeostatic.svg");
}
.anatomy.homeostatic > header > [data-type='title'] {
  display: none !important;
}
.anatomy.interactive {
  page-break-inside: avoid;
  background-color: #ffffcc;
  padding-top: 0 !important;
}
.anatomy.interactive::before {
  padding-top: 0.43in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  page-break-after: avoid;
  background-color: white;
  content: "";
  display: block;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.05in;
}
.anatomy.interactive::before {
  background-image: url("ccap-anatomy/interactive.svg");
}
.anatomy.interactive > header > [data-type='title'] {
  display: none !important;
}
.anatomy.interactive img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.anatomy.interactive .link {
  color: #cc9900 !important;
  font-weight: bold;
}
.anatomy.interactive.um {
  background-color: #ffffcc;
  padding-top: 0 !important;
  page-break-inside: auto !important;
}
.anatomy.interactive.um::before {
  padding-top: 0.5in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  page-break-after: avoid;
  background-color: white;
  content: "";
  display: block;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.05in;
}
.anatomy.interactive.um::before {
  background-image: url("ccap-anatomy/interactive_UM.svg");
}
.anatomy.interactive.um > header > [data-type='title'] {
  display: none !important;
}
.book .book-body .page-wrapper .page-inner [data-type="note"][data-label='']:not(.ui-has-child-title)::before,
.book .book-body .page-wrapper .page-inner .note[data-label='']:not(.ui-has-child-title)::before {
  display: block !important;
}
