@import 'gitbook.css';
.summary li:not(.visited) > .fa-check {
  display: none !important;
}
.summary li.visited > .fa-check {
  display: inline-block !important;
  right: auto !important;
  top: auto !important;
}
.summary li.visited > a {
  font-weight: bold;
}
section.normal > .title {
  font-weight: bold;
  font-size: 2.5em;
}
.book.loading .book-title {
  display: none;
}
.book:not(.loading) .book-spinner {
  display: none;
}
.book .book-body .page-wrapper .page-inner section.normal {
  counter-reset: figure, note, exercise, example, table;
}
.book .book-body .page-wrapper .page-inner section.normal img[alt^='QR'] {
  max-width: 2in;
}
/* When the URL refers to in-page elements make them stand out a bit */
:target {
  background-color: #ffd;
}
/* styles for tags page */
.inline-list li {
  list-style-type: none;
  display: inline-block;
}
.inline-list li:not(:last-child):after {
  content: ', ';
}
.list-entry li {
  list-style-type: none;
}
.header-link {
  position: absolute;
  left: -1em;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
  color: black !important;
}
.book .book-body .book-progress .bar {
  height: 10px;
}
.book.with-summary .book-body {
  left: 350px;
}
.book.with-summary .book-summary {
  width: 350px;
}
.book.with-summary .toggle-summary {
  background-color: #fafafa;
}
.book .book-summary {
  background-color: #fafafa;
}
.book .book-summary .summary {
  counter-reset: chapter;
}
.book .book-summary .summary li.part {
  font-size: 130%;
  font-weight: bold;
  color: black;
  padding-left: 15px;
}
.book .book-summary .summary li.part > ol {
  font-size: 70%;
  font-weight: normal;
}
.book .book-summary .summary ol {
  padding: 0;
}
.book .book-summary .summary ol a {
  display: inline !important;
  padding: 0;
}
.book .book-summary .summary ol li {
  padding: 10px 0px;
  list-style-type: none;
  /* Add ellipses if the title is long */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.book .book-summary .summary ol li::before {
  font-weight: bold;
}
.book .book-summary .summary ol li.chapter {
  counter-increment: chapter;
  counter-reset: section;
}
.book .book-summary .summary ol li.chapter::before {
  content: counter(chapter) '. ';
  color: black;
  font-weight: bold;
  font-size: 120%;
  padding-left: 1em;
}
.book .book-summary .summary ol li.chapter > a {
  font-size: 120%;
}
.book .book-summary .summary ol li.chapter > ol > li {
  counter-increment: section;
}
.book .book-summary .summary ol li.chapter > ol > li::before {
  content: counter(chapter) '.' counter(section) ' ';
  color: black;
  font-weight: bold;
  padding-left: 2em;
}
.page {
  counter-reset: figure;
}
figure {
  display: table;
  width: 100%;
  counter-increment: figure;
}
figure > [data-type='title'] {
  font-weight: bold;
  font-size: small;
}
figure > figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: small;
}
figure > figcaption::before {
  font-weight: bold;
  content: 'Figure ' counter(figure) ': ';
}
ul:not([data-display='inline'])[data-bullet-style="pilcrow"] {
  list-style-type: none;
}
ul:not([data-display='inline'])[data-bullet-style="pilcrow"] > li::before {
  content: '\00b6';
  margin-right: 0.5em;
}
ul:not([data-display='inline'])[data-bullet-style="rpilcrow"] {
  list-style-type: none;
}
ul:not([data-display='inline'])[data-bullet-style="rpilcrow"] > li::before {
  content: '\204b';
  margin-right: 0.5em;
}
ul:not([data-display='inline'])[data-bullet-style="section"] {
  list-style-type: none;
}
ul:not([data-display='inline'])[data-bullet-style="section"] > li::before {
  content: '\00a7';
  margin-right: 0.5em;
}
ul:not([data-display='inline'])[data-bullet-style="asterisk"] {
  list-style-type: none;
}
ul:not([data-display='inline'])[data-bullet-style="asterisk"] > li::before {
  content: '*';
  margin-right: 0.5em;
}
ul:not([data-display='inline'])[data-bullet-style="dash"] {
  list-style-type: none;
}
ul:not([data-display='inline'])[data-bullet-style="dash"] > li::before {
  content: '-';
  margin-right: 0.5em;
}
ul:not([data-display='inline'])[data-bullet-style="none"] {
  list-style-type: none;
}
ul:not([data-display='inline'])[data-bullet-style="none"] > li::before {
  content: none;
  margin-right: 0.5em;
}
ul:not([data-display='inline'])[data-bullet-style="none"] {
  list-style-type: none;
}
ul:not([data-display='inline'])[data-bullet-style="bullet"] {
  list-style-type: disc;
}
ul:not([data-display='inline'])[data-bullet-style="open-circle"] {
  list-style-type: circle;
}
ol:not([data-display='inline'])[data-number-style="none"] {
  list-style-type: none;
}
ol:not([data-display='inline'])[data-number-style="arabic"] {
  list-style-type: decimal;
}
ol:not([data-display='inline'])[data-number-style="upper-alpha"] {
  list-style-type: upper-alpha;
}
ol:not([data-display='inline'])[data-number-style="lower-alpha"] {
  list-style-type: lower-alpha;
}
ol:not([data-display='inline'])[data-number-style="upper-roman"] {
  list-style-type: upper-roman;
}
ol:not([data-display='inline'])[data-number-style="lower-roman"] {
  list-style-type: lower-roman;
}
ul[data-labeled-item] {
  list-style-type: none;
}
ul[data-display='inline']:not([data-item-sep]) > .item:not(:last-child)::after {
  content: '; ';
}
ul[data-display='inline'][data-item-sep] > .item:not(:last-child)::after {
  content: '; ';
}
ul[data-display='inline'][data-bullet-style="pilcrow"] > .item::before {
  content: '\00b6';
  margin-right: 0.5em;
}
ul[data-display='inline'][data-bullet-style="rpilcrow"] > .item::before {
  content: '\204b';
  margin-right: 0.5em;
}
ul[data-display='inline'][data-bullet-style="section"] > .item::before {
  content: '\00a7';
  margin-right: 0.5em;
}
ul[data-display='inline'][data-bullet-style="asterisk"] > .item::before {
  content: '*';
  margin-right: 0.5em;
}
ul[data-display='inline'][data-bullet-style="dash"] > .item::before {
  content: '-';
  margin-right: 0.5em;
}
ul[data-display='inline'][data-bullet-style="none"] > .item::before {
  content: none;
  margin-right: 0.5em;
}
ul[data-display='inline'][data-bullet-style="bullet"] > .item::before {
  content: '\25cf';
  margin-right: 0.5em;
}
ul[data-display='inline'][data-bullet-style="open-circle"] > .item::before {
  content: '\25cb';
  margin-right: 0.5em;
}
ol[data-display='inline'] {
  counter-reset: list-item;
}
ol[data-display='inline']:not([data-item-sep]) > .item:not(:last-child)::after {
  content: '; ';
}
ol[data-display='inline'][data-item-sep] > .item:not(:last-child)::after {
  content: '; ';
}
ol[data-display='inline'] > .item {
  counter-increment: list-item;
}
ol[data-display='inline'][data-number-style="arabic"] > .item::before {
  content: counter(list-item, decimal);
  margin-right: 0.5em;
}
ol[data-display='inline'][data-number-style="upper-alpha"] > .item::before {
  content: counter(list-item, upper-alpha);
  margin-right: 0.5em;
}
ol[data-display='inline'][data-number-style="lower-alpha"] > .item::before {
  content: counter(list-item, lower-alpha);
  margin-right: 0.5em;
}
ol[data-display='inline'][data-number-style="upper-roman"] > .item::before {
  content: counter(list-item, upper-roman);
  margin-right: 0.5em;
}
ol[data-display='inline'][data-number-style="lower-roman"] > .item::before {
  content: counter(list-item, lower-roman);
  margin-right: 0.5em;
}
ul[data-labeled-item]:not([data-item-sep]) > .item:not(:last-child)::after {
  content: '; ';
}
ul[data-labeled-item][data-item-sep] > .item:not(:last-child)::after {
  content: '; ';
}
span.list[data-list-type='bulleted']:not([data-item-sep]) > .item:not(:last-child)::after {
  content: '; ';
}
span.list[data-list-type='bulleted'][data-item-sep] > .item:not(:last-child)::after {
  content: '; ';
}
span.list[data-list-type='bulleted'][data-bullet-style="pilcrow"] > .item::before {
  content: '\00b6';
  margin-right: 0.5em;
}
span.list[data-list-type='bulleted'][data-bullet-style="rpilcrow"] > .item::before {
  content: '\204b';
  margin-right: 0.5em;
}
span.list[data-list-type='bulleted'][data-bullet-style="section"] > .item::before {
  content: '\00a7';
  margin-right: 0.5em;
}
span.list[data-list-type='bulleted'][data-bullet-style="asterisk"] > .item::before {
  content: '*';
  margin-right: 0.5em;
}
span.list[data-list-type='bulleted'][data-bullet-style="dash"] > .item::before {
  content: '-';
  margin-right: 0.5em;
}
span.list[data-list-type='bulleted'][data-bullet-style="none"] > .item::before {
  content: none;
  margin-right: 0.5em;
}
span.list[data-list-type='bulleted'][data-bullet-style="bullet"] > .item::before {
  content: '\25cf';
  margin-right: 0.5em;
}
span.list[data-list-type='bulleted'][data-bullet-style="open-circle"] > .item::before {
  content: '\25cb';
  margin-right: 0.5em;
}
span.list[data-list-type='enumerated'] {
  counter-reset: list-item;
}
span.list[data-list-type='enumerated']:not([data-item-sep]) > .item:not(:last-child)::after {
  content: '; ';
}
span.list[data-list-type='enumerated'][data-item-sep] > .item:not(:last-child)::after {
  content: '; ';
}
span.list[data-list-type='enumerated'] > .item {
  counter-increment: list-item;
}
span.list[data-list-type='enumerated'][data-number-style="arabic"] > .item::before {
  content: counter(list-item, decimal);
  margin-right: 0.5em;
}
span.list[data-list-type='enumerated'][data-number-style="upper-alpha"] > .item::before {
  content: counter(list-item, upper-alpha);
  margin-right: 0.5em;
}
span.list[data-list-type='enumerated'][data-number-style="lower-alpha"] > .item::before {
  content: counter(list-item, lower-alpha);
  margin-right: 0.5em;
}
span.list[data-list-type='enumerated'][data-number-style="upper-roman"] > .item::before {
  content: counter(list-item, upper-roman);
  margin-right: 0.5em;
}
span.list[data-list-type='enumerated'][data-number-style="lower-roman"] > .item::before {
  content: counter(list-item, lower-roman);
  margin-right: 0.5em;
}
span.list[data-list-type='labeled-item']:not([data-item-sep]) > .item:not(:last-child)::after {
  content: '; ';
}
span.list[data-list-type='labeled-item'][data-item-sep] > .item:not(:last-child)::after {
  content: '; ';
}
[data-type="note"],
.note {
  margin: 30px 6rem 0 6rem;
  padding: 15px;
  background-color: #eeeeee;
}
[data-type="note"]:not([data-label]).ui-has-child-title > header > [data-type="title"],
.note:not([data-label]).ui-has-child-title > header > [data-type="title"],
[data-type="note"]:not([data-label]).ui-has-child-title > [data-type="title"],
.note:not([data-label]).ui-has-child-title > [data-type="title"],
[data-type="note"]:not([data-label]).ui-has-child-title > header > .title,
.note:not([data-label]).ui-has-child-title > header > .title,
[data-type="note"]:not([data-label]).ui-has-child-title > .title,
.note:not([data-label]).ui-has-child-title > .title {
  display: inline-block;
  color: #cccccc;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
[data-type="note"]:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
.note:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
[data-type="note"]:not([data-label]).ui-has-child-title > [data-type="title"]::before,
.note:not([data-label]).ui-has-child-title > [data-type="title"]::before,
[data-type="note"]:not([data-label]).ui-has-child-title > header > .title::before,
.note:not([data-label]).ui-has-child-title > header > .title::before,
[data-type="note"]:not([data-label]).ui-has-child-title > .title::before,
.note:not([data-label]).ui-has-child-title > .title::before {
  content: 'Note: ';
}
[data-type="note"]:not([data-label]):not(.ui-has-child-title)::before,
.note:not([data-label]):not(.ui-has-child-title)::before {
  display: inline-block;
  color: #cccccc;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: 'Note';
}
[data-type="note"][data-label=''].ui-has-child-title > header > [data-type="title"],
.note[data-label=''].ui-has-child-title > header > [data-type="title"],
[data-type="note"][data-label=''].ui-has-child-title > [data-type="title"],
.note[data-label=''].ui-has-child-title > [data-type="title"],
[data-type="note"][data-label=''].ui-has-child-title > header > .title,
.note[data-label=''].ui-has-child-title > header > .title,
[data-type="note"][data-label=''].ui-has-child-title > .title,
.note[data-label=''].ui-has-child-title > .title {
  display: inline-block;
  color: #cccccc;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
[data-type="note"][data-label='']:not(.ui-has-child-title)::before,
.note[data-label='']:not(.ui-has-child-title)::before {
  display: inline-block;
  color: #cccccc;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
[data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
.note[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
[data-type="note"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
.note[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
[data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > .title,
.note[data-label]:not([data-label='']).ui-has-child-title > header > .title,
[data-type="note"][data-label]:not([data-label='']).ui-has-child-title > .title,
.note[data-label]:not([data-label='']).ui-has-child-title > .title {
  display: inline-block;
  color: #cccccc;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
[data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
.note[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
[data-type="note"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
.note[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
[data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
.note[data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
[data-type="note"][data-label]:not([data-label='']).ui-has-child-title > .title::before,
.note[data-label]:not([data-label='']).ui-has-child-title > .title::before {
  content: attr(data-label-parent) ': ';
}
[data-type="note"][data-label]:not([data-label='']):not(.ui-has-child-title)::before,
.note[data-label]:not([data-label='']):not(.ui-has-child-title)::before {
  display: inline-block;
  color: #cccccc;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: attr(data-label);
}
[data-type="note"] > section,
.note > section {
  padding: 5px 15px;
  border-top: 1px solid #cccccc;
  background-color: #eeeeee;
}
[data-type="example"],
.example {
  margin-top: 30px;
}
[data-type="example"]:not([data-label]).ui-has-child-title > header > [data-type="title"],
.example:not([data-label]).ui-has-child-title > header > [data-type="title"],
[data-type="example"]:not([data-label]).ui-has-child-title > [data-type="title"],
.example:not([data-label]).ui-has-child-title > [data-type="title"],
[data-type="example"]:not([data-label]).ui-has-child-title > header > .title,
.example:not([data-label]).ui-has-child-title > header > .title,
[data-type="example"]:not([data-label]).ui-has-child-title > .title,
.example:not([data-label]).ui-has-child-title > .title {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
}
[data-type="example"]:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
.example:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
[data-type="example"]:not([data-label]).ui-has-child-title > [data-type="title"]::before,
.example:not([data-label]).ui-has-child-title > [data-type="title"]::before,
[data-type="example"]:not([data-label]).ui-has-child-title > header > .title::before,
.example:not([data-label]).ui-has-child-title > header > .title::before,
[data-type="example"]:not([data-label]).ui-has-child-title > .title::before,
.example:not([data-label]).ui-has-child-title > .title::before {
  content: 'Example: ';
}
[data-type="example"]:not([data-label]):not(.ui-has-child-title)::before,
.example:not([data-label]):not(.ui-has-child-title)::before {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
  content: 'Example';
}
[data-type="example"][data-label=''].ui-has-child-title > header > [data-type="title"],
.example[data-label=''].ui-has-child-title > header > [data-type="title"],
[data-type="example"][data-label=''].ui-has-child-title > [data-type="title"],
.example[data-label=''].ui-has-child-title > [data-type="title"],
[data-type="example"][data-label=''].ui-has-child-title > header > .title,
.example[data-label=''].ui-has-child-title > header > .title,
[data-type="example"][data-label=''].ui-has-child-title > .title,
.example[data-label=''].ui-has-child-title > .title {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
}
[data-type="example"][data-label='']:not(.ui-has-child-title)::before,
.example[data-label='']:not(.ui-has-child-title)::before {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
}
[data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
.example[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
[data-type="example"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
.example[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
[data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > .title,
.example[data-label]:not([data-label='']).ui-has-child-title > header > .title,
[data-type="example"][data-label]:not([data-label='']).ui-has-child-title > .title,
.example[data-label]:not([data-label='']).ui-has-child-title > .title {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
}
[data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
.example[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
[data-type="example"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
.example[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
[data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
.example[data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
[data-type="example"][data-label]:not([data-label='']).ui-has-child-title > .title::before,
.example[data-label]:not([data-label='']).ui-has-child-title > .title::before {
  content: attr(data-label-parent) ': ';
}
[data-type="example"][data-label]:not([data-label='']):not(.ui-has-child-title)::before,
.example[data-label]:not([data-label='']):not(.ui-has-child-title)::before {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
  content: attr(data-label);
}
[data-type="example"] > section,
.example > section {
  padding: 5px 15px;
  border-top: 1px solid #cccccc;
  background-color: #eeeeee;
}
[data-type="exercise"],
.exercise {
  margin-top: 30px;
}
[data-type="exercise"]:not([data-label]).ui-has-child-title > header > [data-type="title"],
.exercise:not([data-label]).ui-has-child-title > header > [data-type="title"],
[data-type="exercise"]:not([data-label]).ui-has-child-title > [data-type="title"],
.exercise:not([data-label]).ui-has-child-title > [data-type="title"],
[data-type="exercise"]:not([data-label]).ui-has-child-title > header > .title,
.exercise:not([data-label]).ui-has-child-title > header > .title,
[data-type="exercise"]:not([data-label]).ui-has-child-title > .title,
.exercise:not([data-label]).ui-has-child-title > .title {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
}
[data-type="exercise"]:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
.exercise:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
[data-type="exercise"]:not([data-label]).ui-has-child-title > [data-type="title"]::before,
.exercise:not([data-label]).ui-has-child-title > [data-type="title"]::before,
[data-type="exercise"]:not([data-label]).ui-has-child-title > header > .title::before,
.exercise:not([data-label]).ui-has-child-title > header > .title::before,
[data-type="exercise"]:not([data-label]).ui-has-child-title > .title::before,
.exercise:not([data-label]).ui-has-child-title > .title::before {
  content: 'Exercise: ';
}
[data-type="exercise"]:not([data-label]):not(.ui-has-child-title)::before,
.exercise:not([data-label]):not(.ui-has-child-title)::before {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
  content: 'Exercise';
}
[data-type="exercise"][data-label=''].ui-has-child-title > header > [data-type="title"],
.exercise[data-label=''].ui-has-child-title > header > [data-type="title"],
[data-type="exercise"][data-label=''].ui-has-child-title > [data-type="title"],
.exercise[data-label=''].ui-has-child-title > [data-type="title"],
[data-type="exercise"][data-label=''].ui-has-child-title > header > .title,
.exercise[data-label=''].ui-has-child-title > header > .title,
[data-type="exercise"][data-label=''].ui-has-child-title > .title,
.exercise[data-label=''].ui-has-child-title > .title {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
}
[data-type="exercise"][data-label='']:not(.ui-has-child-title)::before,
.exercise[data-label='']:not(.ui-has-child-title)::before {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
}
[data-type="exercise"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
.exercise[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
[data-type="exercise"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
.exercise[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
[data-type="exercise"][data-label]:not([data-label='']).ui-has-child-title > header > .title,
.exercise[data-label]:not([data-label='']).ui-has-child-title > header > .title,
[data-type="exercise"][data-label]:not([data-label='']).ui-has-child-title > .title,
.exercise[data-label]:not([data-label='']).ui-has-child-title > .title {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
}
[data-type="exercise"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
.exercise[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
[data-type="exercise"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
.exercise[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
[data-type="exercise"][data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
.exercise[data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
[data-type="exercise"][data-label]:not([data-label='']).ui-has-child-title > .title::before,
.exercise[data-label]:not([data-label='']).ui-has-child-title > .title::before {
  content: attr(data-label-parent) ': ';
}
[data-type="exercise"][data-label]:not([data-label='']):not(.ui-has-child-title)::before,
.exercise[data-label]:not([data-label='']):not(.ui-has-child-title)::before {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #cccccc;
  content: attr(data-label);
}
[data-type="exercise"] > section,
.exercise > section {
  padding: 5px 15px;
  border-top: 1px solid #cccccc;
  background-color: #eeeeee;
}
[data-type="example"] [data-type="problem"],
[data-type="exercise"] [data-type="problem"],
.example [data-type="problem"],
.exercise [data-type="problem"],
[data-type="example"] [data-type="solution"],
[data-type="exercise"] [data-type="solution"],
.example [data-type="solution"],
.exercise [data-type="solution"],
[data-type="example"] .problem,
[data-type="exercise"] .problem,
.example .problem,
.exercise .problem,
[data-type="example"] .solution,
[data-type="exercise"] .solution,
.example .solution,
.exercise .solution {
  padding: 0.5em 1em;
}
[data-type="example"] [data-type="solution"],
[data-type="exercise"] [data-type="solution"],
.example [data-type="solution"],
.exercise [data-type="solution"],
[data-type="example"] .solution,
[data-type="exercise"] .solution,
.example .solution,
.exercise .solution {
  border-top: 1px solid #cccccc;
}
[data-type="example"] [data-type="solution"] > .ui-toggle-wrapper,
[data-type="exercise"] [data-type="solution"] > .ui-toggle-wrapper,
.example [data-type="solution"] > .ui-toggle-wrapper,
.exercise [data-type="solution"] > .ui-toggle-wrapper,
[data-type="example"] .solution > .ui-toggle-wrapper,
[data-type="exercise"] .solution > .ui-toggle-wrapper,
.example .solution > .ui-toggle-wrapper,
.exercise .solution > .ui-toggle-wrapper {
  text-align: center;
}
[data-type="example"] [data-type="solution"] > .ui-toggle-wrapper > .ui-toggle,
[data-type="exercise"] [data-type="solution"] > .ui-toggle-wrapper > .ui-toggle,
.example [data-type="solution"] > .ui-toggle-wrapper > .ui-toggle,
.exercise [data-type="solution"] > .ui-toggle-wrapper > .ui-toggle,
[data-type="example"] .solution > .ui-toggle-wrapper > .ui-toggle,
[data-type="exercise"] .solution > .ui-toggle-wrapper > .ui-toggle,
.example .solution > .ui-toggle-wrapper > .ui-toggle,
.exercise .solution > .ui-toggle-wrapper > .ui-toggle {
  outline: 0;
  text-align: center;
  font-weight: bold;
}
[data-type="example"] [data-type="solution"]:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before,
[data-type="exercise"] [data-type="solution"]:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before,
.example [data-type="solution"]:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before,
.exercise [data-type="solution"]:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before,
[data-type="example"] .solution:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before,
[data-type="exercise"] .solution:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before,
.example .solution:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before,
.exercise .solution:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: '[Show Solution]';
}
[data-type="example"] [data-type="solution"]:not(.ui-solution-visible) > section,
[data-type="exercise"] [data-type="solution"]:not(.ui-solution-visible) > section,
.example [data-type="solution"]:not(.ui-solution-visible) > section,
.exercise [data-type="solution"]:not(.ui-solution-visible) > section,
[data-type="example"] .solution:not(.ui-solution-visible) > section,
[data-type="exercise"] .solution:not(.ui-solution-visible) > section,
.example .solution:not(.ui-solution-visible) > section,
.exercise .solution:not(.ui-solution-visible) > section {
  display: none;
}
[data-type="example"] [data-type="solution"].ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before,
[data-type="exercise"] [data-type="solution"].ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before,
.example [data-type="solution"].ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before,
.exercise [data-type="solution"].ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before,
[data-type="example"] .solution.ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before,
[data-type="exercise"] .solution.ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before,
.example .solution.ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before,
.exercise .solution.ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: '[Hide Solution]';
}
[data-type="example"].check-understanding [data-type="title"]::before,
[data-type="exercise"].check-understanding [data-type="title"]::before,
.example.check-understanding [data-type="title"]::before,
.exercise.check-understanding [data-type="title"]::before,
[data-type="example"][data-type=check-understanding] .title::before,
[data-type="exercise"][data-type=check-understanding] .title::before,
.example[data-type=check-understanding] .title::before,
.exercise[data-type=check-understanding] .title::before {
  margin-right: 0;
  content: "";
}
[data-type="example"].conceptual-questions [data-type="problem"],
[data-type="exercise"].conceptual-questions [data-type="problem"],
.example.conceptual-questions [data-type="problem"],
.exercise.conceptual-questions [data-type="problem"],
[data-type="example"][data-type=conceptual-questions] .problem,
[data-type="exercise"][data-type=conceptual-questions] .problem,
.example[data-type=conceptual-questions] .problem,
.exercise[data-type=conceptual-questions] .problem {
  border-top: none;
}
[data-type="example"].conceptual-questions [data-type="problem"] p,
[data-type="exercise"].conceptual-questions [data-type="problem"] p,
.example.conceptual-questions [data-type="problem"] p,
.exercise.conceptual-questions [data-type="problem"] p,
[data-type="example"][data-type=conceptual-questions] .problem p,
[data-type="exercise"][data-type=conceptual-questions] .problem p,
.example[data-type=conceptual-questions] .problem p,
.exercise[data-type=conceptual-questions] .problem p {
  margin: 0;
}
[data-type="example"].problems-exercises [data-type="problem"]::before,
[data-type="exercise"].problems-exercises [data-type="problem"]::before,
.example.problems-exercises [data-type="problem"]::before,
.exercise.problems-exercises [data-type="problem"]::before,
[data-type="example"][data-type=problems-exercises] [data-type="problem"]::before,
[data-type="exercise"][data-type=problems-exercises] [data-type="problem"]::before,
.example[data-type=problems-exercises] [data-type="problem"]::before,
.exercise[data-type=problems-exercises] [data-type="problem"]::before,
[data-type="example"].problems-exercises [data-type="solution"]::before,
[data-type="exercise"].problems-exercises [data-type="solution"]::before,
.example.problems-exercises [data-type="solution"]::before,
.exercise.problems-exercises [data-type="solution"]::before,
[data-type="example"][data-type=problems-exercises] [data-type="solution"]::before,
[data-type="exercise"][data-type=problems-exercises] [data-type="solution"]::before,
.example[data-type=problems-exercises] [data-type="solution"]::before,
.exercise[data-type=problems-exercises] [data-type="solution"]::before,
[data-type="example"].problems-exercises .problem::before,
[data-type="exercise"].problems-exercises .problem::before,
.example.problems-exercises .problem::before,
.exercise.problems-exercises .problem::before,
[data-type="example"][data-type=problems-exercises] .problem::before,
[data-type="exercise"][data-type=problems-exercises] .problem::before,
.example[data-type=problems-exercises] .problem::before,
.exercise[data-type=problems-exercises] .problem::before,
[data-type="example"].problems-exercises .solution::before,
[data-type="exercise"].problems-exercises .solution::before,
.example.problems-exercises .solution::before,
.exercise.problems-exercises .solution::before,
[data-type="example"][data-type=problems-exercises] .solution::before,
[data-type="exercise"][data-type=problems-exercises] .solution::before,
.example[data-type=problems-exercises] .solution::before,
.exercise[data-type=problems-exercises] .solution::before {
  font-weight: bold;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 1px;
}
[data-type="example"].problems-exercises [data-type="problem"]::before,
[data-type="exercise"].problems-exercises [data-type="problem"]::before,
.example.problems-exercises [data-type="problem"]::before,
.exercise.problems-exercises [data-type="problem"]::before,
[data-type="example"][data-type=problems-exercises] [data-type="problem"]::before,
[data-type="exercise"][data-type=problems-exercises] [data-type="problem"]::before,
.example[data-type=problems-exercises] [data-type="problem"]::before,
.exercise[data-type=problems-exercises] [data-type="problem"]::before,
[data-type="example"].problems-exercises .problem::before,
[data-type="exercise"].problems-exercises .problem::before,
.example.problems-exercises .problem::before,
.exercise.problems-exercises .problem::before,
[data-type="example"][data-type=problems-exercises] .problem::before,
[data-type="exercise"][data-type=problems-exercises] .problem::before,
.example[data-type=problems-exercises] .problem::before,
.exercise[data-type=problems-exercises] .problem::before {
  content: "Problem";
}
[data-type="example"].problems-exercises [data-type="solution"]::before .solution::before,
[data-type="exercise"].problems-exercises [data-type="solution"]::before .solution::before,
.example.problems-exercises [data-type="solution"]::before .solution::before,
.exercise.problems-exercises [data-type="solution"]::before .solution::before,
[data-type="example"][data-type=problems-exercises] [data-type="solution"]::before .solution::before,
[data-type="exercise"][data-type=problems-exercises] [data-type="solution"]::before .solution::before,
.example[data-type=problems-exercises] [data-type="solution"]::before .solution::before,
.exercise[data-type=problems-exercises] [data-type="solution"]::before .solution::before {
  content: "Solution";
}
