#sidebar-checkbox:checked ~ .wrap .container {
  margin-left: 5rem;
}

#sidebar .comment { color: rgba(255,255,255,.6); }

#sidebar .comment:hover  { text-decoration: none; }
#sidebar .comment:before { content: '('; }
#sidebar .comment:after  { content: ')'; }


/* When the URL refers to in-page elements make them stand out a bit */
:target { background-color: #ffd; }


/* styles for tags page */
.inline-list li {
  list-style-type: none;
  display: inline-block;
}
.inline-list li:not(:last-child):after { content: ', ';}

.list-entry li {
  list-style-type: none;
}


.sidebar > ol { counter-reset: chapter; }
.sidebar ol { padding: 0; }
.sidebar ol li {
  list-style-type: none;
  /* Add ellipses if the title is long */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.sidebar ol li::before {
  font-weight: bold;
}

.sidebar ol li.chapter {
  counter-increment: chapter;
  counter-reset: section;
}
.sidebar ol li.chapter::before { content: counter(chapter) '. '; }
.sidebar ol li.chapter > ol > li { counter-increment: section; }
.sidebar ol li.chapter > ol > li::before { content: counter(chapter) '.' counter(section) ' '; }
